@import "bourbon";
@import "neat";

$mobile: new-breakpoint(max-width 480px, 4);
$primary: #324253;
$success: #009688;
$info: #0277bd;
$warning: #f5833c;
$danger: #c71f3a;
$second: #3c7fac;
$header: #b72e39;
$header-dark: #a32933;
$ut: #e53935;
$stock: #3f51b5;
$srs: #fdd835;
$insurance: #00c853;
$article: #909090;
$sgs: #ffc703;
$cash: #618699;
$profit: #43a047;
$loss: #ed5565;

// .wrapper {
//   @include outer-container;
//
//
//   @include media(max-width 480px, 4) {
//     .three {
//       @include span-columns(3 of 4);
//     }
//     .one {
//       @include span-columns(1 of 4);
//     }
//     .two{
//       @include span-columns(2 of 4);
//     }
//   }
//
//   .testing{
//     @include span-columns(6);
//     @include media(max-width 480px, 4) {
//       @include span-columns(4);
//       @include fill-parent;
//       @include omega(4n);
//       .three {
//         @include span-columns(3 of 4);
//       }
//       .one {
//         @include span-columns(1 of 4);
//       }
//     }
//   }
//
//   .result{
//     @include span-columns(6);
//     @include media(max-width 480px, 4) {
//       @include padding(10px null null null);
//       @include span-columns(4);
//       @include fill-parent;
//       font-family: $helvetica;
//     }
//   }
//
//   .row{
//     @include fill-parent();
//     @include row();
//     // #removeName {
//     //   @include span-columns(2);
//     // }
//     // #editName {
//     //   @include span-columns(2);
//     // }
//   }
// }

.nav-header {
  @include span-columns(12);
  @include fill-parent();
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  height: 36px;
  position: fixed;
  height: 36px;
  background-color: #ef473a;

  @include media(max-width 480px, 4) {
    @include span-columns(4);
    @include fill-parent();
  }
  .header-bar{
    @include outer-container;
    height: 36px;
    .header-content{
      text-align: center;
      .row{
        height: 36px;
        @include display(flex);
        flex-direction: row;
      }
      height: 36px;
      h4 {
        display: inline-block;
        margin: auto;
        // padding: 8px;
        color: #fff;
      }
      a{
        margin: auto;
        padding: 8px;
        &.button {
          @include media($mobile) {
            padding: 3px;
          }
          background-color: tint(#ef473a, 30%);
          padding: 5px 10px;
        }
      }
    }
  }
}

#nav-footer {
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  height: 36px;
  position: fixed;
  height: 36px;
  background-color: #ef473a;
  .footer-content{
    @include media(max-width 480px, 5) {
      @include display-context(flex) {
        .row {
          height: 36px;
          @include display(flex);
        }
      }
      a {
        // @include span-columns(1 of 5);
        // @include columns(1 3em);
        // @include column-span(5);
        @include pad();
        @include reset-display();
        &.button {
          @include media($mobile) {
            padding: 3px;
            margin: auto;
          }
          background-color: tint(#ef473a, 30%);
          padding: 5px 10px;
          margin: auto;
        }
      }
    }
  }
}

.table-minimal {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $table-stripe-background: darken($table-background, 4);
  $table-stripe-background-hover: darken($table-stripe-background, 5);
  $table-padding: 0.75em 1em;

  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0;
      padding: $table-padding;
      text-align: left;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0;
      border-top: 1px solid $table-border-color;
      line-height: $base-line-height;
      padding: $table-padding;

      button {
        display: inline-block;
        font-size: 0.7em;
        line-height: $base-line-height;
        margin-bottom: 0.3em;
        margin-right: 0.5em;
        outline: none;
        padding: 0.3em 1em;
        width: 100%;

        @include media($medium-screen) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}

.frozen-column{
  position: fixed;
  display: inline-block;
  border-right: 1px solid #ddd;
  left: 0px;
  width: 80px;
  // width: 52.891px;
}

.content{
  top: 36px;
  bottom: 36px;
  position: absolute;
  right: 0;
  left: 0;
  overflow: scroll;
  margin-top: -1px;
  padding-top: 1px;
  margin-bottom: -1px;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;

  .list-item{
    list-style-type: none;
    overflow-x: scroll;
    margin-left: 80px;
    @include user-select(none);
    .item{
      padding: 10px 0;
      border-bottom: 1px solid #dadee2;
      // box-shadow: 0 0 4px 1px rgba(0,0,0,0.08);
    }
  }
}

.form-view{
  @include media($mobile) {
    @include span-columns(4);
    .three {
      @include span-columns(3 of 4);
    }
    .one {
      @include span-columns(1 of 4);
    }

  }
}

.card {
  background: #fff;
  border: .1rem solid #efefef;
  border-radius: .3rem;
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  z-index: 999;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.row{
  @include fill-parent();
  @include row();
}

.pull-right{
  float: right !important;
}

.pull-left{
  float: left !important;
}

.bg-primary{
  background: $primary !important;
}
.bg-success{
  background: $success !important;
}
.bg-info{
  background: $info !important;
}
.bg-warning{
  background: $warning !important;
}
.bg-danger{
  background: $danger !important;
}
.bg-second{
  background: $second !important;
}
.bg-header{
  background: $header !important;
}
.bg-header-dark{
  background: $header-dark !important;
}
.bg-ut{
  background: $ut !important;
}
.bg-stock{
  background: $stock !important;
}
.bg-srs{
  background: $srs !important;
}
.bg-insurance{
  background: $insurance !important;
}
.bg-article{
  background: $article !important;
}
.bg-sgs{
  background: $sgs !important;
}
.bg-cash{
  background: $cash !important;
}
.bg-profit{
  background: $profit !important;
}
.bg-lose{
  background: $loss !important;
}


.button{
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #477DCA;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#{$all-buttons} {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #477DCA;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#{$all-buttons-hover},
#{$all-buttons-focus},
#{$all-buttons-active} {
  background-color: shade(#2c3e50, 20%);
}

#{$all-text-inputs} {
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
  font-family: $monospace;
}
